<?xml version="1.0"?>
<robot name="" xmlns:xi="http://www.w3.org/2001/Xinclude" xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz" xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering" xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics" xmlns:xacro="http://www.ros.org/wiki/xacro">
 <xacro:macro name="gz_trans_pos" params="joint_name">
  <transmission name="${joint_name}_trans">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="${joint_name}">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
   </joint>
   <actuator name="${joint_name}_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
   </actuator>
  </transmission>
 </xacro:macro>
 <xacro:macro name="gz_trans_vel" params="joint_name">
  <transmission name="${joint_name}_trans">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="${joint_name}">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
   </joint>
   <actuator name="${joint_name}_motor">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
   </actuator>
  </transmission>
 </xacro:macro>
 <xacro:macro name="gz_trans_eff" params="joint_name">
  <transmission name="${joint_name}_trans">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="${joint_name}">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
   </joint>
   <actuator name="${joint_name}_motor">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
   </actuator>
  </transmission>
 </xacro:macro>
 <link name="base">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_base.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_base.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.46784100000000001" />
   <origin xyz="0.000000000000e+00 0.000000000000e+00 1.255000000000e-01" />
   <inertia ixx="0.00095128699999999999" ixy="0" ixz="0" iyy="0.00095128699999999999" iyz="0" izz="0.00037427199999999998" />
  </inertial>
 </link>
 <link name="j2s6s200_link_1">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_1.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_1.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.74770000000000003" />
   <origin xyz="0.000000000000e+00 -2.000000000000e-03 -6.050000000000e-02" />
   <inertia ixx="0.0015203199999999999" ixy="0" ixz="0" iyy="0.0015203199999999999" iyz="0" izz="0.00059816000000000003" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_1" type="continuous">
  <parent link="base" />
  <child link="j2s6s200_link_1" />
  <origin xyz="0.000000000000e+00 0.000000000000e+00 1.567500000000e-01" rpy="-3.141592653590e+00 -1.034981019264e-13 -1.570796326795e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="-1.7976931348623157e+308" upper="1.7976931348623157e+308" velocity="0.62831853071795862" effort="40" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_1" />
 <link name="j2s6s200_link_2">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_2.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_2.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.98999999999999999" />
   <origin xyz="0.000000000000e+00 -2.065000000000e-01 -1.000000000000e-02" />
   <inertia ixx="0.0105022" ixy="0" ixz="0" iyy="0.00079199999999999995" iyz="0" izz="0.0105022" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_2" type="revolute">
  <parent link="j2s6s200_link_1" />
  <child link="j2s6s200_link_2" />
  <origin xyz="7.105427357521e-19 1.600000000000e-03 -1.187500000000e-01" rpy="-1.570796326795e+00 -1.033249107152e-13 -3.141592653590e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="0.82030474843733492" upper="5.4628805587422518" velocity="0.62831853071795862" effort="80" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_2" />
 <link name="j2s6s200_link_3">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_3.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_3.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.67630000000000001" />
   <origin xyz="0.000000000000e+00 8.100000000000e-02 -8.600000000000e-03" />
   <inertia ixx="0.00142022" ixy="0" ixz="0" iyy="0.00030433499999999998" iyz="0" izz="0.00142022" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_3" type="revolute">
  <parent link="j2s6s200_link_2" />
  <child link="j2s6s200_link_3" />
  <origin xyz="0.000000000000e+00 -4.100000000000e-01 -1.820763377759e-16" rpy="3.141592653590e+00 3.216245299246e-16 3.141592653590e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="0.33161255787892263" upper="5.9515727493006638" velocity="0.62831853071795862" effort="40" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_3" />
 <link name="j2s6s200_link_4">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_4.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_4.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.46300000000000002" />
   <origin xyz="0.000000000000e+00 2.884890000000e-03 -5.419330000000e-02" />
   <inertia ixx="0.000432132" ixy="0" ixz="0" iyy="0.000432132" iyz="0" izz="9.2600000000000001e-05" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_4" type="continuous">
  <parent link="j2s6s200_link_3" />
  <child link="j2s6s200_link_4" />
  <origin xyz="-5.062616992162e-18 2.073000000000e-01 -1.140000000000e-02" rpy="-1.570796326795e+00 -1.028808215054e-13 -3.141592653590e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="-1.7976931348623157e+308" upper="1.7976931348623157e+308" velocity="0.83775804095727824" effort="20" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_4" />
 <link name="j2s6s200_link_5">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_5.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_5.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="0.46300000000000002" />
   <origin xyz="0.000000000000e+00 4.972090000000e-02 -2.856280000000e-03" />
   <inertia ixx="0.000432132" ixy="0" ixz="0" iyy="9.2600000000000001e-05" iyz="0" izz="0.000432132" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_5" type="revolute">
  <parent link="j2s6s200_link_4" />
  <child link="j2s6s200_link_5" />
  <origin xyz="-1.262177448354e-29 -6.315948355658e-19 -1.037500000000e-01" rpy="1.570796326795e+00 1.033249107152e-13 -3.141592653590e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="0.52359877559829882" upper="5.7595865315812871" velocity="0.83775804095727824" effort="20" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_5" />
 <link name="j2s6s200_link_6">
  <visual>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_6.dae" />
   </geometry>
  </visual>
  <collision>
   <geometry>
    <mesh filename="file:///tmp/_j2s6s200_link_6.stl" />
   </geometry>
  </collision>
  <inertial>
   <mass value="1.03" />
   <origin xyz="-9.708730000000e-05 0.000000000000e+00 -6.311570000000e-02" />
   <inertia ixx="0.00079160999999999999" ixy="6.9797400000000005e-16" ixz="-7.7111800000000003e-06" iyy="0.00060205600000000001" iyz="1.35525e-20" izz="0.00077763500000000004" />
  </inertial>
 </link>
 <joint name="j2s6s200_joint_6" type="continuous">
  <parent link="j2s6s200_link_5" />
  <child link="j2s6s200_link_6" />
  <origin xyz="0.000000000000e+00 1.037500000000e-01 -4.669166158797e-17" rpy="-1.570796326795e+00 -1.037689999250e-13 -3.141592653590e+00" />
  <axis xyz="0.000000000000e+00 0.000000000000e+00 1.000000000000e+00" />
  <limit lower="-1.7976931348623157e+308" upper="1.7976931348623157e+308" velocity="0.83775804095727824" effort="20" />
 </joint>
 <xacro:gz_trans_pos joint_name="j2s6s200_joint_6" />
</robot>

